HAWKSOPTIONS_DIR=/home/ec2-user/HawksOptions
HAWKSOPTIONS_USER=ec2-user
HAWKSOPTIONS_GROUP=ec2-user
HAWKSOPTIONS_SECRET_NAME=hawksoptions/keys
HAWKSOPTIONS_SHM_SECRET_FILE=/dev/shm/.hawksoptions.env
HAWKSOPTIONS_LOCK_TIMEOUT_SECONDS=600
